<%= form_with(model: shelter, local: true) do |f| %>
  <% if shelter.errors.any? %>
    <div>
      <h2><%= pluralize(shelter.errors.count, "error") %> prohibited this shelter from being saved:</h2>

      <ul>
        <% shelter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <div class="row">
      <div class="column">
        <%= f.button :submit %>

        <%= f.label :accepting, "Accepting" %>
        <div class="radio-group">
          <%= f.radio_button :accepting, :yes %><%= f.label :accepting_yes, "Yes" %>
          <%= f.radio_button :accepting, :no %><%= f.label :accepting_no, "No" %>
          <%= f.radio_button :accepting, :unknown %><%= f.label :accepting_unknown, "Unknown" %>
        </div>
        <label><%= f.check_box :active %> Active (not archived)</label>
        <label><%= f.check_box :unofficial %> Unofficial (not county-run/FEMA approved)</label>
        <%= f.label :google_place, 'Where is it?' %>
        <%= f.text_field :google_place, :value => f.object.address, :class => 'place-autocomplete', :data => {
          :address => '#geocode-address',
          :phone => '#geocode-phone',
          :lat => '#geocode-lat',
          :lng => '#geocode-lng',
          :placeid => '#geocode-place-id',
          :city => '#geocode-city',
          :county => '#geocode-county',
          :zip => '#geocode-zip',
          :state => '#geocode-state',
          :mapselector => '#map'
        }, :required => true, :autofocus => true %>

        <%= f.label :shelter %>
        <%= f.text_field :shelter, :placeholder => 'Name of Shelter (like Manatee Bay Middle School)', :required => true, :id => 'geocode-name' %>
        <%= f.label :phone %>
        <%= f.text_field :phone, :placeholder => '(123) 123-4567', :id => 'geocode-phone' %>

        <%= f.label :county %>
        <%= f.text_field :county, :placeholder => 'Name of County (like Manatee)', :id => 'geocode-county' %>
        <%= f.label :state %>
        <%= f.text_field :state, :placeholder => 'Abbreviation of State (like NC)', :id => 'geocode-state' %>
        <%= f.label :zip %>
        <%= f.text_field :zip, :placeholder => '12345', :id => 'geocode-zip' %>
    </div>
    <div class="column">
      <label>Map</label>
      <div id="map" style="height: 300px; width: 100%"></div>

      <% if shelter.latitude && shelter.longitude %>
      <script>
        $(window).ready(function(){
          simpleMap({
            selector: "#map",
            name: "<%= j shelter.shelter %>",
            lat: <%= shelter.latitude %>,
            lng: <%= shelter.longitude %>
          })
        })
      </script>
      <% end %>
    </div>
  </div>

    <%= f.label :source %>
    <%= f.text_field :source, :placeholder => 'Source of Information (like Manatee County Emergency Management)' %>

    <%= f.label :allow_pets %>
    <%= f.check_box :allow_pets %>

    <%= f.label :pets %>
    <%= f.text_area :pets, :placeholder => 'Additional details about pets (like crate required or proof of shots)' %>

    <%= f.label :notes %>
    <%= f.text_area :notes, :placeholder => 'Whatever the shelter wants people to know (like Just Opened, or Nearing Capacity)' %>

    <%= f.label :supply_needs %>
    <%= f.text_area :supply_needs, :placeholder => 'Supplies needed by the shelter (like Water, Paper Towels, Tissue Paper)' %>

    <%= f.label :volunteer_needs %>
    <%= f.text_area :volunteer_needs, :placeholder => 'Types of volunteers needed if any (like Medical Personnel)' %>

    <%= f.label :distribution_center %>
    <%= f.text_field :distribution_center, :placeholder => 'Detail about Distribution Center' %>

    <%= f.label :food_pantry %>
    <%= f.text_field :food_pantry, :placeholder => 'Food Pantries helping with this shelter' %>

    <%= f.label :special_needs %>
    <%= f.check_box :special_needs %>

    <%= f.label :accessibility %>
    <%= f.text_field :accessibility, :placeholder => 'Wheelchair accessible, or other accommodations for people with special needs?' %>

    <%= f.hidden_field :address, :id => 'geocode-address' %>
    <%= f.hidden_field :city, :id => 'geocode-city' %>
    <%= f.hidden_field :latitude, :id => 'geocode-lat' %>
    <%= f.hidden_field :longitude, :id => 'geocode-lng' %>

    <% if user_signed_in? && current_user.admin? %>
      <%= f.label :private_notes %>
      <%= f.text_area :private_notes, :placeholder => 'Non-published notes (for other admins)' %>

      <%= f.label :private_email %>
      <%= f.text_field :private_email, :placeholder => 'Emails of contacts' %>

      <%= f.label :private_sms %>
      <%= f.text_field :private_sms, :placeholder => 'Phone numbers of contacts' %>

      <%= f.label :private_volunteer_data_mgr %>
      <%= f.text_field :private_volunteer_data_mgr, :placeholder => 'Name of Volunteer Data Manager' %>
    <% end %>

    <%= f.hidden_field :google_place_id, :id => 'geocode-place-id' %>
    <p><%= f.button :submit %></p>
  </fieldset>
<% end %>
