<%= form_with(model: shelter, local: true) do |f| %>
  <% if shelter.errors.any? %>
    <div>
      <h2><%= pluralize(shelter.errors.count, "error") %> prohibited this shelter from being saved:</h2>

      <ul>
        <% shelter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <div class="row">
      <div class="column">
        <label><%= f.check_box :accepting %> Accepting</label>
        <%= f.label :google_place, 'Where is it?' %>
        <%= f.text_field :google_place, :value => f.object.address, :class => 'place-autocomplete', :data => {
          :name => '#geocode-name',
          :address => '#geocode-address',
          :phone => '#geocode-phone',
          :lat => '#geocode-lat',
          :lng => '#geocode-lng',
          :placeid => '#geocode-place-id',
          :city => '#geocode-city',
          :county => '#geocode-county',
          :zip => '#geocode-zip',
          :state => '#geocode-state',
          :mapselector => '#map'
        }, :required => true, :autofocus => true %>

        <%= f.label :shelter %>
        <%= f.text_field :shelter, :required => true, :id => 'geocode-name' %>
        <%= f.label :phone %>
        <%= f.text_field :phone, :required => true, :id => 'geocode-phone' %>

        <%= f.label :county %>
        <%= f.text_field :county, :id => 'geocode-county' %>
        <%= f.label :zip %>
        <%= f.text_field :zip, :id => 'geocode-zip' %>
    </div>
    <div class="column">
      <label>Map</label>
      <div id="map" style="height: 300px; width: 100%"></div>

      <% if shelter.latitude && shelter.longitude %>
      <script>
        $(window).ready(function(){
          simpleMap({
            selector: "#map",
            name: "<%= j shelter.shelter %>",
            lat: <%= shelter.latitude %>,
            lng: <%= shelter.longitude %>
          })
        })
      </script>
      <% end %>
    </div>
  </div>

    <%= f.label :source %>
    <%= f.text_field :source %>

    <%= f.label :pets %>
    <%= f.text_area :pets %>

    <%= f.label :supply_needs %>
    <%= f.text_area :supply_needs %>

    <%= f.label :volunteer_needs %>
    <%= f.text_area :volunteer_needs %>

    <%= f.label :notes %>
    <%= f.text_area :notes %>

    <%= f.label :distribution_center %>
    <%= f.text_field :distribution_center %>

    <%= f.label :food_pantry %>
    <%= f.text_field :food_pantry %>

    <%= f.label :special_needs %>
    <%= f.check_box :special_needs %>

    <%= f.hidden_field :address, :id => 'geocode-address' %>
    <%= f.hidden_field :city, :id => 'geocode-city' %>
    <%= f.hidden_field :latitude, :id => 'geocode-lat' %>
    <%= f.hidden_field :longitude, :id => 'geocode-lng' %>

    <% if user_signed_in? && current_user.admin? %>
      <%= f.label :private_notes %>
      <%= f.text_area :private_notes %>

      <%= f.label :private_email %>
      <%= f.text_field :private_email %>
    <% end %>

    <%= f.hidden_field :google_place_id, :id => 'geocode-place-id' %>
    <%= f.button :submit %>
  </fieldset>
<% end %>
