<%= form_with(model: need, local: true) do |f| %>
  <% if need.errors.any? %>
    <div>
      <h2><%= pluralize(need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
        <% need.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>

    <div class="row">
      <div class="column">
        <%= f.label :google_place, 'Where is it?' %>
        <%= f.text_field :google_place, :class => 'place-autocomplete', :data => {
          :name => '#geocode-name',
          :address => '#geocode-address',
          :phone => '#geocode-phone',
          :lat => '#geocode-lat',
          :lng => '#geocode-lng',
          :placeid => '#geocode-place-id',
          :city => '#geocode-city',
          :mapselector => '#map'
        }, :required => true, :autofocus => true %>

        <%= f.label :location_name %>
        <%= f.text_field :location_name, :required => true, :id => 'geocode-name' %>
        <%= f.hidden_field :latitude, :id => 'geocode-lat' %>
        <%= f.hidden_field :longitude, :id => 'geocode-lng' %>
        <%= f.hidden_field :location_address, :required => true, :id => 'geocode-address' %>

        <%= f.label :contact_for_this_location_name %>
        <%= f.text_field :contact_for_this_location_name %>

        <%= f.label :contact_for_this_location_phone_number %>
        <%= f.text_field :contact_for_this_location_phone_number, :required => true %>

    </div>
    <div class="column">
      <label>Map</label>
      <div id="map" style="height: 300px; width: 100%"></div>

      <% if need.latitude && need.longitude %>
      <script>
        $(window).ready(function(){
          simpleMap({
            selector: "#map",
            name: "<%= j need.location_name %>",
            lat: <%= need.latitude %>,
            lng: <%= need.longitude %>
          })
        })
      </script>
      <% end %>
  </div>
  </div>

    <%= f.label :are_volunteers_needed %>
    <%= f.text_field :are_volunteers_needed %>

    <%= f.label :tell_us_about_the_volunteer_needs %>
    <%= f.text_area :tell_us_about_the_volunteer_needs %>

    <%= f.label :are_supplies_needed %>
    <%= f.text_area :are_supplies_needed %>

    <%= f.label :tell_us_about_the_supply_needs %>
    <%= f.text_area :tell_us_about_the_supply_needs %>

    <%= f.label :anything_else_you_would_like_to_tell_us %>
    <%= f.text_area :anything_else_you_would_like_to_tell_us %>

    <%= f.label :source %>
    <%= f.text_field :source %>

    <%= f.button :submit %>
  </fieldset>
<% end %>
