<table id="data-table">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <% headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% rows.each do |row| %>
      <tr>
        <td>
            <% if user_signed_in? && current_user.admin? && row.accepted_by_id.nil? && row.denied_by_id.nil? %>
              <%= link_to 'Accept', [:accept, row], {class: "button", method: :post} %>
              <%= link_to 'Deny', row, {class: "button button-outline", method: :delete} %>
            <% end %>
          </td>

        <td>
					<% if  row.created_by %>
						<%=row.created_by.email%>
					<%end%>
				</td>

        <% columns.each do |column| %>
          <td><%= truncate((row.info[column.to_s] || row.record && row.record.send(column)).to_s) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
window.onload = function() {
  $('#data-table').DataTable();
};
</script>
