<h1>How to use</h1>
<h4>Sign Up (Recommended)</h4>
<ul>
  <li>Please sign up to help us identify you and expedite data processing.</li>
  <li>Click <%= link_to '"Sign up"', new_user_registration_path %> in the top right corner.</li>
  <li>Enter email address and password.</li>
  <li>If you are associated with a shelter or distribution center, we especially ask that you please sign up. Email us as well to harveyneedsnow@gmail.com to share your affiliation.</li>
</ul>

<h4>FIRST CHECK IF THE LOCATION EXISTS IN THE DATABASE!</h4>
<ul>
  <li>Click <%= link_to '“Shelters”', shelters_path %> (locations housing people) or <%= link_to '“Needs”', needs_path %> (non-shelter providers).</li>
  <li>Use the Search bar (right, above table) to check if the location is already listed.</li>
  <li>List updates automatically as you type.</li>
  <ul>
    <li>If no listing exists, use the “Add New” button.</li>
    <li>If a listing already exists, scroll to the right and click the “Update” link.</li>
  </ul>
</ul>

<h4>Add Shelter Info</h4>
<ul>
  <li>Shelter definition: Any location, church, school, etc, that provides services and shelter.</li>
  <li>From <%= link_to '“Shelters”', shelters_path %> tab:</li>
  <ul>
    <li>Click “Add New Shelter”</li>
    <li>Call the shelter while looking at the page, and enter all information that is available. Give as much detail as possible and cite the source. If you know this information outside of having a direct contact, enter as much information as you have. At a minimum, a working phone number and address of the location would be useful.</li>
    <li>Click “Submit”.</li>
  </ul>
</ul>

<h4>Add Non-shelter Info</h4>
<ul>
  <li>Non-Shelter - Any locations providing services that are not shelters (this includes locations that were previously shelters but are now only providing services).</li>
  <li>From <%= link_to '“Needs”', needs_path %> tab:</li>
  <ul>
    <li>Click “Add New Need”.</li>
    <li>Enter all info. Give as much detail as possible and cite the source.</li>
    <li>Click “Submit”.</li>
  </ul>
</ul>

<h4>Update</h4>
<ul>
  <li>If a location is already in the database:</li>
  <ul>
    <li>Find the entry and scroll all the way to the right.</li>
    <li>Click “Update”.</li>
    <li>Enter any new information you have, or call them while looking at the form. Change any information that needs to be updated.</li>
    <li>Click “Submit” at the bottom of the sheet.</li>
  </ul>
</ul>
