<blockquote>NOTE: You must fill out the name, address, city, state and zip or the system will be unable to add the lat/lon to record and it will not appear on the map!</blockquote>
<%= form_for(location, url: path, method: method, local: true) do |f| %>
  <% if location.errors.any? %>
    <div>
      <h2><%= pluralize(shelter.errors.count, "error") %> prohibited this shelter from being saved:</h2>
      <ul>
        <% shelter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <% update_fields.each do |field| %>
      <%= f.label field.name, "#{field.name.to_s.titleize}#{field.required ? ' (required)' : ""}" %>
      <% case field.type %>
      <% when :boolean %>
        <%= f.check_box field.name, required:field.required %>
      <% when :enum %>
        <%= f.select field.name, options_for_select([nil].concat(field.options), location.send(field.name)), required: field.required %>
      <% when :phone %>
        <%= f.telephone_field field.name, required: field.required %>
      <% else %>
        <%= f.text_field field.name, required: field.required %>
      <% end %>
    <% end %>

    <%= f.button :submit %>
  </fieldset>
<% end %>
