<!DOCTYPE html>
<html>
  <head>
    <title>HarveyApi</title>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <ul>
          <li><%= link_to "Shelters", shelters_path %></li>
          <% if user_signed_in? && current_user.admin? %>
            <li><%= link_to "Shelters Update Queue", drafts_shelters_path %></li>
          <% end %>
          <li><%= link_to "Needs", needs_path %></li>
          <% if user_signed_in? && current_user.admin? %>
            <li><%= link_to "Needs Update Queue", drafts_needs_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "AmazonProducts", amazon_products_path %></li>
          <% end %>
          <div class="right">
            <li><span>Welcome <%= user_signed_in? ? current_user.email : "guest" %>!</span></li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %><li>
                  <li><%= link_to "Sign up", new_user_registration_path %><li>
                    <% end %>
          </div>
        </ul>
      </div>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
